body {
            width: 90%;
            max-width: 1200px;
            margin: 2em auto;
            font: .9em/1.2 Arial, Helvetica, sans-serif;

        }

.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-gap: 20px;
    background-color: grey;
    color: white;
}

header,
footer {
    border-radius: 5px;
    padding: 20px;
    background-color: whitesmoke;
    border: 2px solid rgb(79,185,227);
    font-size: x-large;
    color: black;

}

aside {
    border: 2px solid #999;
    padding: 20px;
    grid-column: 1 / 13;
    grid-row: 2;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-column: 1 / 13;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
}

article {
    grid-column: 9 / 13;
    grid-row: 2;
}

/*aside {*/
/*    grid-column: 1 / 9;*/
/*    grid-row: 2;*/
/*}*/

footer {
    grid-column: 1 / 13;
    grid-row: 3;
}

div {
    padding: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

form {
    background-color: grey;
    color: white;
    border-radius: 5px;
    padding: 10px;
}