{% extends "base.html" %}

{% block content %}
    <p>Welcome to the American Yawp Quiz Generator. This app will allow you to quickly generate<br>
    quizzes according to specific sub-sections in <a href="http://www.americanyawp.com/">the American Yawp</a> online open-source textbook.<br>
    Go to the <a href="/questions">Questions</a> page to get started. Just check the boxes for the questions you want and click the button.<br>
    The app will lead you to download page that will let you download a standard quiz for printing,<br> a Blackboard-formatted quiz for uploading,
    and an answer key. The app also reorders the answers <br>
        every time you generate a new quiz</p>
{% endblock %}</html>